*{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    justify-content:center;
    height: 100vh;
    text-align: center;
    background-color:black;
    color:rgb(180, 104, 28);
}
/* SKROLL BAR */
::-webkit-scrollbar{
    width:5px;
   
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background: black;
    
}
/* CHAT CONTAINER */
#chatContainer{
    height: 95vh;
    width:60vh;
    border: 2px solid rgb(180, 104, 28);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(180, 104, 28);
    margin:20px 0;
    background-color: black;

}
#chat{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    
}
#headerSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
}
.dropdown {
    display: none;
    justify-self: center;
}
/* NAV BAR ROOMS */
#chatRooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}
.btn {
    background-color: black;
    color:rgb(180, 104, 28);
    width: 150px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 5px;

}
.btn:hover{
    cursor: pointer;
    background-color:rgb(180, 104, 28);
    color:black;
    box-shadow: 2px 2px 5px rgb(180, 104, 28);
}
.btn:focus{
    cursor: pointer;
    background-color:rgb(180, 104, 28);
    color:black;
    box-shadow: 2px 2px 5px rgb(180, 104, 28);
}
/* MESSAGE SECTION */
#messageSection {
    background-color:rgb(180, 104, 28);
    color: black;
    height: 35%;
    width: 100%;
    overflow: auto;
}
#messageSection li{
    display: block;
    background-color:black;
    color: rgb(180, 104, 28);
    border-bottom: 1px solid black ;
    border-radius: 30px 30px 0 30px;
    width: 55%;
    padding: 5px;
    margin: 5px;
    position: relative;
}
#messageSection li span{
    position: absolute;
    bottom:1px;
    right: 1px;
}


/* INPUT SECTION */

#inputSection input[type="text"], input::placeholder,input[type="color"],input[type="datetime-local"]  {
    background-color:rgb(180, 104, 28);
    color:black;
    padding: 5px;
    border-radius: 5px;
    width:45%;
}
#inputSection input{
    display: inline-block;
    width:45%;
}
#inputSection input[type="color"]{
    width:48%;
    padding: 1px;
}

.inputBtn{
    background-color: black;
    color:rgb(180, 104, 28);
    padding: 5px;
    margin: 10px 5px;
    border-radius: 5px;

}
.inputBtn:hover{
    cursor: pointer;
    background-color:rgb(180, 104, 28);
    color:black;
    box-shadow: 2px 2px 5px rgb(180, 104, 28);
}
form{
    display:flex;
    flex-direction: row;
    flex:1;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

textarea {
    background-color:rgb(180, 104, 28);
    color:black;
    border-radius: 3px;
    overflow-y: scroll;
    height: 17px;
    padding: 5px;
    width: 45%;
}
textarea::placeholder{
    color:black;
}

#updateUsername{
    color:rgb(180, 104, 28);
    font-weight: bold;
    padding:3px;
    border: 1px solid rgb(180, 104, 28) ;
}
#updateUsername strong{
    color: black;
    background-color:rgb(180,104,28);
    padding: 3px;
    border-radius: 3px;
}

#inputSection input[type="datetime-local"]{
    width: 20%;
}

/*------ MEDIA QUERIES -------*/

 /*--- Mobile ----- */
@media screen and (max-width: 350px) {
    #chatContainer{
        margin:0;
        height: 99vh;
    }
    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #hamburgerMenu button{
        display: none;
    }
    
    #hamburgerMenu:hover{
        background-color:black;
        color:rgb(180, 104, 28);
        cursor: pointer;
        
        
    }
    #hamburgerMenu:hover button{
        display: inherit;
        margin:0;
    }
    
    nav button{
        display: none;
    }
    #messageSection{
        height: 35%;
    }
    
    #inputSection input[type="text"],#inputSection input[type="datetime-local"],#inputSection input[type="color"],textarea, .btn, #inputSection input{
        width: 90%;
    }
   
}
