*{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    justify-content:center;
    height: 100vh;
    text-align: center;
    background:black;
    color:rgb(180, 104, 28);
}
#chatContainer{
    height: 95vh;
    width:60vh;
    border: 2px solid rgb(180, 104, 28);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(180, 104, 28);
    margin:20px 0;
}
#chat{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}
#headerSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
}
.dropdown {
    display: none;
    justify-self: center;

}
#chatRooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}
#messageSection {
    background-color:rgb(180, 104, 28);
    color: black;
    border: 1px solid black; 
    border-radius: 5px;
    height: 25%;
    width: 95%;
    overflow-y: scroll;
}

.btn {
    background-color: black;
    color:rgb(180, 104, 28);
    width: 150px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 5px;

}

.btn:hover{
    cursor: pointer;
    background-color:rgb(180, 104, 28);
    color:black;
    box-shadow: 2px 2px 5px rgb(180, 104, 28);
}
#inputSection input[type="text"], input::placeholder {
    background-color:rgb(180, 104, 28);
    color:black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#inputSection input[type="submit"] {
    margin:10px 0;
}


/*------ MEDIA QUERIES -------*/

 /*--- Mobile ----- */
@media screen and (max-width: 350px) {
    #chatContainer{
        margin:0;
        height: 99vh;
    }
    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #hamburgerMenu button{
        display: none;
    }
    
    #hamburgerMenu:hover{
        background-color:black;
        color:rgb(180, 104, 28);
        cursor: pointer;
        
        
    }
    #hamburgerMenu:hover button{
        display: inherit;
        margin:0;
    }
    
    nav button{
        display: none;
    }
    #messageSection{
        height: 20%;
    }
    .btn{
        width: 90%;
    }
    #inputSection input[type="text"] {
        width: 90%;
    }
}
