*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row{
    width: 100%;
    overflow: hidden;
}
[class*="col-"]{
    float:left
}

/* univerzalana podesavanja */

header, footer{

    background-color: aqua;
    text-align: center;
}
aside, .aforizmi{
    background: linear-gradient(to bottom, #44e4e4 60%, #ffffff 100%);
    padding: 10px;
}
header{
    top:0;
}
footer{
    bottom: 0;
}
i {
    width:10px;
    height: 10px;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    border: 1px solid aqua;
    background-color:#44e4e4 ;
    padding: 10px;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
}



/* *************
**********
******
media queries 
******
***********
***************/
/* mobile uredjaji */

    @media only screen and  (max-width:600px) {
        [class*="col-"]{
            width: 100%;
        }
    }
/* tablet uredjaji */

@media only screen and (max-width:999px) and (min-width:601px) {
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}
/* desktop uredjaji */

@media only screen and (min-width:1000px){
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
}
